<h1>Welcome to ParkAtDCU</h1>

<body>

    {% for campus in campus_name %}
        <h3>{{ campus.name }}</h3>
        <ul>
            {% for carpark in carpark_name %}
                {% if campus == carpark.campus_id %}
                    <li>{{ carpark.name }}: {{ carpark.spaces }} spaces, {{carpark.disabled_spaces }} spaces for people with disabilities</li>
                {% endif %}
            {% endfor %}</ul>
    {% endfor %}
{% if campus not in no_parking %}
    No carparks found
{% endif %}


</body>